<launch>
    <rosparam file="$(find robot_controller)/config/robot_control.yaml" 
        command="load"/>

    <!-- Spawn to joint position controllers and a joint state publisher-->
    <node name="controller_spawner" pkg="controller_manager" 
        type="spawner" respawn="false" output="screen" ns="/rrbot"
        args="joint1_position_controller joint_state_controller" />
    
    <!-- Start a robot_state_publisher. This will allow us to see the robot in rviz-->
    <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/rrbot/joint_states" />
    </node>
</launch>