<launch>
    <arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.2 -R 0.0 -P 0.0 -Y 0.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="true"/>
        <arg name="verbose" value="true"/>
    </include>

    <param name="robot_description" 
     command="$(find xacro)/xacro --inorder '$(find robot_urdf)/urdf/droid/robot.urdf'" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
    args="$(arg init_pose) -unpause -urdf -model droid -param robot_description" 
    respawn="false" output="screen" />
</launch>